.app {
    background-color: #f8f8ff;
    padding: .8rem .4rem !important;
    border-bottom: 1px solid lightgray;
}

.app_body {
    margin-top: 5vh;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.app_body_box {
    border-radius: 10px;
    height: 100%;
    overflow: hidden;
    border: 1px solid lightgray;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
  .app_body_box:nth-child(2) {
    margin: 5vh 0;
  }
}